.panda-bg-info{
background-color: #fceae8;
}

.panda-btn-warning{
    background-color:#ff3384;
    color:white;
}

.catagory-image img{
    width: 100px;
}

.s-icons{
    font-size: 1.5rem;
    color: #fceae8;
    padding: 5px;

}